<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
      <key>BuildMachineOSBuild</key>
      <string>17E199</string>
      <key>CFBundleDevelopmentRegion</key>
      <string>en</string>
      <key>CFBundleIdentifier</key>
      <string>de.NoirOSX.driver.SunrisePointLPInjector</string>
      <key>CFBundleInfoDictionaryVersion</key>
      <string>6.0</string>
      <key>CFBundleName</key>
      <string>SunrisePointLPInjector</string>
      <key>CFBundlePackageType</key>
      <string>KEXT</string>
      <key>CFBundleShortVersionString</key>
      <string>1.1.3</string>
      <key>CFBundleSupportedPlatforms</key>
      <array>
              <string>MacOSX</string>
      </array>
      <key>CFBundleVersion</key>
      <string>1.1.3</string>
      <key>DTCompiler</key>
      <string>com.apple.compilers.llvm.clang.1_0</string>
      <key>DTPlatformBuild</key>
      <string>9E145</string>
      <key>DTPlatformVersion</key>
      <string>GM</string>
      <key>DTSDKBuild</key>
      <string>17E189</string>
      <key>DTSDKName</key>
      <string>macosx10.13</string>
      <key>DTXcode</key>
      <string>0930</string>
      <key>DTXcodeBuild</key>
      <string>9E145</string>
      <key>IOKitPersonalities</key>
      <dict>
              <key>AHCI Mode</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d038086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>TS4yKEtleSBNKQA=</data>
                              <key>device_type</key>
                              <data>QUhDSS1TQVRBLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgQUhDSSBTQVRBIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTQVRBIENvbnRyb2xsZXIA</data>
                      </dict>
              </dict>
              <key>PCI Express 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d108086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>UENJLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgUENJIEV4cHJlc3MgIzEA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBQQ0kgRXhwcmVzcyBSb290IFBvcnQgIzEA</data>
                      </dict>
              </dict>
              <key>PCI Express 3</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d128086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>UENJLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgUENJIEV4cHJlc3MgIzMA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBQQ0kgRXhwcmVzcyBSb290IFBvcnQgIzMA</data>
                      </dict>
              </dict>
              <key>PCI Express 5</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d148086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>UENJLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgUENJIEV4cHJlc3MgIzUA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBQQ0kgRXhwcmVzcyBSb290IFBvcnQgIzUA</data>
                      </dict>
              </dict>
              <key>PCI Express 6</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d158086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>UENJLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgUENJIEV4cHJlc3MgIzYA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBQQ0kgRXhwcmVzcyBSb290IFBvcnQgIzYA</data>
                      </dict>
              </dict>
              <key>PCI Express 7</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d168086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>UENJLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgUENJIEV4cHJlc3MgIzcA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBQQ0kgRXhwcmVzcyBSb290IFBvcnQgIzcA</data>
                      </dict>
              </dict>
              <key>PCI Express 8</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d178086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>UENJLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgUENJIEV4cHJlc3MgIzgA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBQQ0kgRXhwcmVzcyBSb290IFBvcnQgIzgA</data>
                      </dict>
              </dict>
              <key>PCI Express 9</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d188086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>UENJLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgUENJIEV4cHJlc3MgIzkA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBQQ0kgRXhwcmVzcyBSb290IFBvcnQgIzkA</data>
                      </dict>
              </dict>
              <key>PCI Express 10</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d198086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>UENJLUV4cHJlc3MtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgUENJIEV4cHJlc3MgIzEwAA==</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBQQ0kgRXhwcmVzcyBSb290IFBvcnQgIzEwAA==</data>
                      </dict>
              </dict>
              <key>PMC</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d218086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>UENIUE1DLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgUENIUE1DIChQUE1DKQA=</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBQTUMA</data>
                      </dict>
              </dict>
              <key>SMBus</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d238086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>U01CdXMtQ29udHJvbGxlcgA=</data>
                              <key>model</key>
                              <data>SW50ZWwgU01CdXMA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTTUJ1cwA=</data>
                      </dict>
              </dict>
              <key>Serial UART 0</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d278086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>U2VyaWFsLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgU2VyaWFsIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gVUFSVCBDb250cm9sbGVyICMwAA==</data>
                      </dict>
              </dict>
              <key>Serial UART 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d288086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>U2VyaWFsLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgU2VyaWFsIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gVUFSVCBDb250cm9sbGVyICMxAA==</data>
                      </dict>
              </dict>
              <key>Serial UART 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d668086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>U2VyaWFsLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgU2VyaWFsAA==</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gVUFSVCBDb250cm9sbGVyICMyAA==</data>
                      </dict>
              </dict>
              <key>Serial SPI 0</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d298086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>U2VyaWFsLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgU2VyaWFsIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gU1BJIENvbnRyb2xsZXIgIzAA</data>
                      </dict>
              </dict>
              <key>Serial SPI 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d2a8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>U2VyaWFsLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgU2VyaWFsIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gU1BJIENvbnRyb2xsZXIgIzEA</data>
                      </dict>
              </dict>
              <key>Secure</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d2d8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>U2VjdXJlLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgU2VjdXJlIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZWN1cmUgQ29udHJvbGxlcgA=</data>
                      </dict>
              </dict>
              <key>USB</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d2f8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>WEhDSS1Db250cm9sbGVyAA==</data>
                              <key>model</key>
                              <data>SW50ZWwgVVNCIDMuMCBDb250cm9sbGVyAA==</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBVU0IgMy4wIHhIQ0kgQ29udHJvbGxlcgA=</data>
                      </dict>
              </dict>
              <key>Thermal</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d318086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>VGhlcm1hbC1Db250cm9sbGVyAA==</data>
                              <key>model</key>
                              <data>SW50ZWwgVGhlcm1hbAA=</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBUaGVybWFsAA==</data>
                      </dict>
              </dict>
              <key>Integrated</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d358086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>SW50ZWdyYXRlZC1TZW5zb3IA</data>
                              <key>model</key>
                              <data>SW50ZWwgSW50ZWdyYXRlZAA=</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBJbnRlZ3JhdGVkIFNlbnNvciBIdWIA</data>
                      </dict>
              </dict>
              <key>HECI 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d3a8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>SU1FSS1Db250cm9sbGVyAA==</data>
                              <key>model</key>
                              <data>SW50ZWwgSU1FSQA=</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBDU01FIEhFQ0kgIzEA</data>
                      </dict>
              </dict>
              <key>LPC 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d438086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>TFBDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgTFBDIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBMUEMgQ29udHJvbGxlcgA=</data>
                      </dict>
              </dict>
              <key>LPC 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d488086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>TFBDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgTFBDIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBMUEMgQ29udHJvbGxlcgA=</data>
                      </dict>
              </dict>
              <key>LPC 3</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d4e8086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>TFBDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgTFBDIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>SW50ZWwoUikgMTAwIFNlcmllcyBDaGlwc2V0IEZhbWlseSBMUEMgQ29udHJvbGxlcgA=</data>
                      </dict>
              </dict>
              <key>LPC 4</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d568086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>TFBDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgTFBDIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBMUEMgQ29udHJvbGxlcgA=</data>
                      </dict>
              </dict>
              <key>LPC 5</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d588086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>TFBDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgTFBDIENvbnRyb2xsZXIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBMUEMgQ29udHJvbGxlcgA=</data>
                      </dict>
              </dict>
              <key>I2C 0</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d608086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>STJDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgSTJDIENvbnRyb2xsZXIgIzAA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gSTJDIENvbnRyb2xsZXIgIzAA</data>
                      </dict>
              </dict>
              <key>I2C 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d618086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>STJDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgSTJDIENvbnRyb2xsZXIgIzEA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gSTJDIENvbnRyb2xsZXIgIzEA</data>
                      </dict>
              </dict>
              <key>I2C 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d628086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>STJDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgSTJDIENvbnRyb2xsZXIgIzIA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gSTJDIENvbnRyb2xsZXIgIzIA</data>
                      </dict>
              </dict>
              <key>I2C 3</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d638086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>STJDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgSTJDIENvbnRyb2xsZXIgIzMA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gSTJDIENvbnRyb2xsZXIgIzMA</data>
                      </dict>
              </dict>
              <key>I2C 4</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d648086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>STJDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgSTJDIENvbnRyb2xsZXIgIzQA</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gSTJDIENvbnRyb2xsZXIgIzQA</data>
                      </dict>
              </dict>
              <key>I2C 5</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d658086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>device_type</key>
                              <data>STJDLUNvbnRyb2xsZXIA</data>
                              <key>model</key>
                              <data>SW50ZWwgSTJDIENvbnRyb2xsZXIjNQA=</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBTZXJpYWwgSU8gSTJDIENvbnRyb2xsZXIgIzUA</data>
                      </dict>
              </dict>
              <key>Audio 1</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d708086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>hda-gfx</key>
                              <data>b25ib2FyZC0xAA==</data>
                              <key>layout-id</key>
                              <data>AwAAAA==</data>
                              <key>alc-layout-id</key>
                              <data>AwAAAA==</data>
                              <key>device_type</key>
                              <data>SEQtQXVkaW8tQ29udHJvbGxlcgA=</data>
                              <key>MaximumBootBeepVolume</key>
                              <data>7g==</data>
                              <key>MaximumBootBeepVolumeAlt</key>
                              <data>7g==</data>
                              <key>model</key>
                              <data>SW50ZWwgSEQgQXVkaW8A</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBIRCBBdWRpbwA=</data>
                      </dict>
              </dict>
              <key>Audio 2</key>
              <dict>
                      <key>CFBundleIdentifier</key>
                      <string>de.Brumbaer.PropertyInjector</string>
                      <key>IOClass</key>
                      <string>PropertyInjector</string>
                      <key>IOPCIPrimaryMatch</key>
                      <string>0x9d718086</string>
                      <key>IOProviderClass</key>
                      <string>IOPCIDevice</string>
                      <key>IOMatchCategory</key>
                      <string>mhteejhgjglö</string>
                      <key>Properties</key>
                      <dict>
                              <key>AAPL,slot-name</key>
                              <data>QnVpbHQgSW4A</data>
                              <key>hda-gfx</key>
                              <data>b25ib2FyZC0xAA==</data>
                              <key>layout-id</key>
                              <data>BwAAAA==</data>
                              <key>alc-layout-id</key>
                              <data>IQAAAA==</data>
                              <key>device_type</key>
                              <data>SEQtQXVkaW8tQ29udHJvbGxlcgA=</data>
                              <key>MaximumBootBeepVolume</key>
                              <data>7g==</data>
                              <key>MaximumBootBeepVolumeAlt</key>
                              <data>7g==</data>
                              <key>model</key>
                              <data>SW50ZWwgSEQgQXVkaW8A</data>
                              <key>name</key>
                              <data>U3VucmlzZSBQb2ludCBMUCBIRCBBdWRpbwA=</data>
                      </dict>
              </dict>
      </dict>
      <key>NSHumanReadableCopyright</key>
      <string>Copyright © 2018 NoirOSX. All rights reserved.</string>
      <key>OSBundleLibraries</key>
      <dict>
              <key>de.Brumbaer.PropertyInjector</key>
              <string>1.1.0</string>
              <key>com.apple.kpi.bsd</key>
              <string>12.0</string>
              <key>com.apple.kpi.dsep</key>
              <string>12.0</string>
              <key>com.apple.kpi.iokit</key>
              <string>12.0</string>
              <key>com.apple.kpi.libkern</key>
              <string>12.0</string>
              <key>com.apple.kpi.mach</key>
              <string>12.0</string>
              <key>com.apple.kpi.unsupported</key>
              <string>12.0</string>
      </dict>
      <key>OSBundleRequired</key>
      <string>Root</string>
</dict>
</plist>
